html {
  background: #000;
}

body {
  text-align: center;
  background: #000 left top url(background.png);
  color: #fff;
  font-family: monospace;
  margin: 0;
  padding: 10px;
  height: 440px !important;
}

#instructions {
  background: #F8D5AA;
  color: #000;
  height: 358px;
  padding: 1em;
  margin-left: 1em;
  margin-top: 0;
}

#resources {
  display: none;
}

/*
#c {
}
*/