html {
  background: #000;
}

body {
  background: #000 left top url(background.png);
  color: #fff;
  font-family: monospace;
  margin: 0;
  padding: 10px;
  height: 440px !important;
}

#instructions {
  background: #F8D5AA;
  color: #000;
  height: 358px;
  width: 400px;
  padding: 1em;
  float: left;
  margin-left: 1em;
  margin-top: 0;
}

#resources {
  display: none;
}

#c {
  float: left;
}